$blue-marble: #4D717C;
$error: #F44336;
$green: #0E7C3A;
$orange: #E36A19;

/* Gradients */

$gradient-blue: linear-gradient(256.15deg, #6F86FF -0.13%, #4EBFFF 59.89%);
$gradient-purple: linear-gradient(254.63deg, #F471FF -2.41%, #6F86FF 60.78%);
$gradient-orange: linear-gradient(75.1deg, #FF71B5 42.4%, #FF9839 100.12%);
$gradient-yellow: linear-gradient(76.96deg, #FF844B 37.85%, #FFD028 100%);


/* Colors from theme */
$black-0: #FFFFFF;
$black-100: #F9F9F9;
$black-200: #F7F8F9;
$black-300: #E9ECF2;
$black-400: #E4E9F3;
$black-500: #D8DEEC;
$black-600: #98A5BC;
$black-800: #3D414F;
$black-900: #1F2839;


$blue-50: #F0F6FE;
$blue-100: #D7E4FC;
$blue-400: #667AF6;
$blue-500: #395CCF;

$green-100: #CCF1D5;
$green-200: #7FDE94;
$green-400: #4CAC66;
$green-500: #0E7C3A;

$yellow: #FFEFC7;
$yellow-100: #FFD7A9;
$yellow-200: #FFCB79;
$yellow-400: #FF9A4A;
$yellow-500: #E36A19;

$red: #FFD6EA;
$red-100: #FDD8D6;
$red-200: #F79792;
$red-400: #FF6565;
$red-500: #DC0505;

$wave: #DFF6F2;

$grey: #BFC7D9;

$dust: #FFF1E9;
$hot: #F30B00;
$hot16: rgba(243, 11, 0, 0.16);;
$hot30: rgba(243, 11, 0, 0.3);;
